<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/break</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find</servlet-name>
    <servlet-class>com.filter.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAd</servlet-name>
    <servlet-class>com.filter.MyAdvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAd</servlet-name>
    <url-pattern>/myadvert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAdS</servlet-name>
    <servlet-class>com.filter.MySoldAds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAdS</servlet-name>
    <url-pattern>/myadvertsold</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAdSIndi</servlet-name>
    <servlet-class>com.filter.IndiSold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAdSIndi</servlet-name>
    <url-pattern>/mysoldindi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.login.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indiv</servlet-name>
    <servlet-class>com.filter.GetIndi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indiv</servlet-name>
    <url-pattern>/indi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyIndiv</servlet-name>
    <servlet-class>com.filter.GetMyAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyIndiv</servlet-name>
    <url-pattern>/myindi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDataAd</servlet-name>
    <servlet-class>com.filter.SelectForAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataAd</servlet-name>
    <url-pattern>/plad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIndBook</servlet-name>
    <servlet-class>com.filter.BookIndi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndBook</servlet-name>
    <url-pattern>/bookd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertAd</servlet-name>
    <servlet-class>com.filter.InsertAdvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAd</servlet-name>
    <url-pattern>/insertad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EdAd</servlet-name>
    <servlet-class>com.filter.EditAdvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdAd</servlet-name>
    <url-pattern>/editad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EdAdC</servlet-name>
    <servlet-class>com.filter.EditAdvertComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdAdC</servlet-name>
    <url-pattern>/compeditad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAd</servlet-name>
    <servlet-class>com.filter.DeleteAdvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAd</servlet-name>
    <url-pattern>/deletead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetByTitle</servlet-name>
    <servlet-class>com.filter.GetByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByTitle</servlet-name>
    <url-pattern>/getbytitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.filter.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemovefromCart</servlet-name>
    <servlet-class>com.filter.RemFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovefromCart</servlet-name>
    <url-pattern>/rmcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyCart</servlet-name>
    <servlet-class>com.filter.BuyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCart</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.login.UserProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/userpr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUProfile</servlet-name>
    <servlet-class>com.login.GetUserP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUProfile</servlet-name>
    <url-pattern>/editp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetUProfile</servlet-name>
    <servlet-class>com.login.SetUserP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUProfile</servlet-name>
    <url-pattern>/modp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadHome</servlet-name>
    <servlet-class>com.filter.HomePre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBD</servlet-name>
    <servlet-class>com.admin.AddBookDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBD</servlet-name>
    <url-pattern>/insertbookd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBDY</servlet-name>
    <servlet-class>com.admin.AddBookDeptYr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBDY</servlet-name>
    <url-pattern>/insertbookdy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminH</servlet-name>
    <servlet-class>com.admin.AHomePre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminH</servlet-name>
    <url-pattern>/ahome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActAd</servlet-name>
    <servlet-class>com.admin.ActAds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActAd</servlet-name>
    <url-pattern>/admactad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndAd</servlet-name>
    <servlet-class>com.admin.GetAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndAd</servlet-name>
    <url-pattern>/admmyindi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AEdAd</servlet-name>
    <servlet-class>com.admin.AEditAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AEdAd</servlet-name>
    <url-pattern>/aeditad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AEdAdC</servlet-name>
    <servlet-class>com.admin.ACompEditAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AEdAdC</servlet-name>
    <url-pattern>/acompeditad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADlAd</servlet-name>
    <servlet-class>com.admin.ADelAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADlAd</servlet-name>
    <url-pattern>/adeletead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ABokLPre</servlet-name>
    <servlet-class>com.admin.SearchBookPre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABokLPre</servlet-name>
    <url-pattern>/searchbkpre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindB</servlet-name>
    <servlet-class>com.admin.SearchBk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindB</servlet-name>
    <url-pattern>/bfind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoldA</servlet-name>
    <servlet-class>com.admin.SoldAds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoldA</servlet-name>
    <url-pattern>/sale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoldIn</servlet-name>
    <servlet-class>com.admin.IndiSold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoldIn</servlet-name>
    <url-pattern>/soldindi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmIndB</servlet-name>
    <servlet-class>com.admin.IndiBk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmIndB</servlet-name>
    <url-pattern>/abookd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevList</servlet-name>
    <servlet-class>com.admin.ReviewList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevList</servlet-name>
    <url-pattern>/reviewlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevBk</servlet-name>
    <servlet-class>com.admin.ToBeRevDet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevBk</servlet-name>
    <url-pattern>/rbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RevBkDet</servlet-name>
    <servlet-class>com.admin.RevComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevBkDet</servlet-name>
    <url-pattern>/revbookdet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestR</servlet-name>
    <servlet-class>com.filter.ReqRev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestR</servlet-name>
    <url-pattern>/reqrev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyOrd</servlet-name>
    <servlet-class>com.filter.MyOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrd</servlet-name>
    <url-pattern>/myord</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MyIOrd</servlet-name>
    <servlet-class>com.filter.IndiOrd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyIOrd</servlet-name>
    <url-pattern>/myindiord</url-pattern>
  </servlet-mapping>
  
</web-app>